{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="mt-5">
        <div class="container-fluid">
            <div class="table-responsive">
            <h1>LIST OF SUBSCRIBER</h1>
                <table class="table table-sm table-bordered table-dark" id="list_user" style="width:100%">
                    <thead class="thead-dark">
                        <tr>
                            <th>Subscriber Name</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for i in events  %}
                        <tr class="table-primary">
                            <td style="color:black">{{ i.subscriber_name_field }} </td>
                            <td style="color:black">{{ i.subscriber_email_field }} </td>
                            <td align="center"> <button type="button" class="btn btn-danger" id="delete">Delete</button> </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

    </div>
</body>
</html>