<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/story10_style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Acme|Fjalla+One" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/story10_scripts.js' %}"></script>
    <title>STORY 10 - WebService</title>
    <nav>{% include "story10_navbar.html" %}</nav>
</head>
<body>
<div class="container-fluid" id="base1">
    <div class="row">
        <div class="col-sm-4" style="background-color:#cae9fa;">Nanti mau diisi biodata diri sama foto</div>
        <div class="col-sm-8" style="background-color:#245b7a;">
            <div class="container-fluid" id="header-form-container">
                <h1 id="header-form-title">Let's Subscribe Abiyu!</h1>
            </div>
            <div class="form-container">
                <div class="container-fluid" id="subscriber-form">
                       <div id="congratulation_greeting"></div>
                    <form method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <button disabled type="submit" class="btn btn-primary ght" id="submit-button"
                        onclick='check_success_submit()'>
                            Submit
                        </button>
                        <br>
                    </form>
                    <div id="warning_div">

                    </div>
                    <div>
                        <button disabled type="submit" class="btn btn-primary pull-right" href="www.story-abiyu.herokuapp.com/"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>