{% load static %}
<script src="{% static 'js/switch_theme.js' %}"></script>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark" id="navbar_story8">
    <div class="container-fluid">
        <!-- Brand/logo -->
        <a class="navbar-brand" href="">Story 8 - Jquery</a>
        <div align="right">
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/story9-ajax">STORY 9 - Ajax</a>
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/story10-webservice">STORY 10 - Webservice</a>
            <a class="btn btn-outline-success my-2 my-sm-0" role="button" href="/story9-ajax">STORY 11 - OAuth</a>
            <button type="button" class="btn btn-primary" id="blue-button">Blue Theme</button>
            <button type="button" class="btn btn-danger" id="red-button">Red Theme</button>
        </div>
    </div>
</nav>