{% load static %}
<link rel="stylesheet" href="{% static 'css/story8_style.css' %}">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <div>
                <a target="_blank" href="{% static "images/abiyu-profile-photo.jpg" %}">
                    <img class="thumbnail" alt="Photo Profile Abiyu"
                         src={% static "images/abiyu-profile-photo.jpg" %}>
                </a>
            </div>
        </div>

        <!--ACCORDION-->
        <div class="col-sm-8">
            <div style="margin-top: 6vh">
                <div id="accordion">
                    <h3>Biodata Singkat</h3>
                    <div>
                        <ul>
                            <li>Abiyu Muhammad Akmal - 19 Tahun</li>
                        </ul>
                    </div>
                    <h3>Cerita Singkat</h3>
                    <div>
                        <p>
                            Singkat?
                        </p>
                    </div>
                    <h3>Pengalaman Organisasi dan Kepanitiaan</h3>
                    <div>
                        <ul>
                            <li>Staff BEM Fasilkom UI 2018</li>
                        </ul>
                    </div>
                    <h3>Prestasi</h3>
                    <div>
                        <ul>
                            <li>Juara 1 Lomba Pionir IPB</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

