{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>STORY 8 - Abiyu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/story8_style.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/switch_theme.js' %}"></script>
    <script src="{% static 'js/accordion.js' %}"></script>
    <script src="{% static 'js/Loader Page.js' %}"></script>
</head>

<body onload="myFunction()" style="background-color: darkseagreen">
<!--START-NAVBAR-->
<div id="loader" ></div>
<div id="abc">
    <div style="display: none;" id="myDiv" class="animate-bottom">
        <div>
            <div class="nav-home">
                {% include "story8_navbar.html" %}
            </div>
            <!--END-NAVBAR-->

            <!--START-PROFILE-->
            <div>
                {% include "story8_profile.html" %}
            </div>
            <!--END-PROFILE-->

            <!--START-FOOTER-->
            <div>
                {% include "story8_footer.html" %}
            </div>
        </div>
    </div>

</div>
<!--END-FOOTER-->
</body>

</html>
<script src="{% static 'js/switch_theme.js' %}"></script>