{% load static %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-signin-client_id"
          content="68472986371-20nlvlcs4e6t58jd7a3a0m92db0695d1.apps.googleusercontent.com">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/story_ajax.js' %}"></script>
</head>

{% block content %}
    {% if user.is_authenticated %}
        {% include "story9_navbar.html" %}
        <div class="container-fluid" style="background-color: lightseagreen">
            <p class="">Hello, {{ user.username }}</p>
            <p><a class="btn btn-info" role="button" href="{% url 'views_logout' %}">logout</a></p>
        </div>
        {% include "story9_table.html" %}
    {% else %}
        <a class="lead" href="{% url 'login' %}">Log in</a>
    {% endif %}
{% endblock content %}