{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<div class="container-fluid" style="margin-top: -20px;">
    <div class="row">
        <div class="col-md-10">
            <h2>List of Books
                <a class="btn btn-danger btn-md active" onclick="searchGenre('art-of-love')">
                    <span class="glyphicon glyphicon-heart"></span> Art of Love </a>
                <a class="btn btn-primary btn-md active" onclick="searchGenre('quilting')">
                    <span class="glyphicon glyphicon-eye-open"></span> Killing Me Inside</a>
                <a class="btn btn-success btn-md active" onclick="searchGenre('website-programming')">
                    <span class="glyphicon glyphicon-tint"></span> Blood of struggle</a>
                {% block content %}
                    {% if user.is_authenticated %}
                        {% else %}
                        <a class="btn btn-outline-light text-dark" href={% url 'social:begin' 'google-oauth2' %}>
                            <span class="glyphicon glyphicon-log-in"></span> Google Login</a></h2>
                    {% endif %}
                {% endblock content %}
            <a id="counter-favorite-book">Your Favorite Books: 0</a>
            <p>Menerapkan AJaX untuk menampilkan list of book dari
                <​https://www.googleapis.com/books/v1/volumes?q=></p>
        </div>
    </div>
    <table class="table table-bordered table-hover" id="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Publisher</th>
            <th>Authors</th>
            <th>Description</th>
            <th>Thumbnail</th>
            <th>Favorited</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table>

</div>
<script src="{% static 'js/story_ajax.js' %}"></script>
</body>
</html>