footer {
    width: 100%;
    height: 5vh;
    background-color: #333333;
    color: #999999;
    text-align: center;
    bottom: 0px;
    left: 0px;
    margin: 0px;

}

#blue-button{
    background: darkblue;
}

#red-button{
    background: darkred;
}

.thumbnail{
    border: 5px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 82vh;
    margin: 10px;
}

img:hover {
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
}


.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}