/* BASE */
body {
    background-color: #245b7a;
}

/* LAY OUT */

/* FORM */
label {
    color: #d4d4d4;
    font-family: Arial;
    margin-top:10px ;
}

.form-control {
    background-color: #c6f7fa;
    color: #245b7a;
}

.form-container {
    background: #1b3b53;
    margin: 50px;
    border: #333333;
    border-radius: 30px;
}

#submit-button {
    background-color: #fa7543;
!important;
    border-color: #d4d4d4;
    border-color: #c3c3c3;
}

#subscriber-form {
    padding: 30px;
}

#header-form-title {
    color: #faca18;
    font-family: 'Fjalla One', sans-serif;
    position: center;
    font-size: 50px;
    margin-bottom: -30px;
    text-align: center;
}

#header-form-container {

}

#base1 {
    margin-top: 20px;
}

.errorlist {
    color: #ff4400;
    border-radius: 30px;
    width: 200px;
    font-size: 11px;
    margin-left: -30px;
}